*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}
img{
     max-width: 100% ;
max-height: 100%; 
}
h6{
    font-size: 12px;
}
section{
   background-color: aliceblue;
}

/* Navbar */
.navbar{
    padding: 5px 0;
    
}
.nav-item{
    padding: 0 18px;
}

.logo-img{
    width: 25px !important;
    
}
.cart{
    position: relative;
    
}
#cart-item{
    visibility: hidden;
    position: absolute;
    top:0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 12px;

}
.fa-shopping-cart{
    margin-top: 16px;
}
.btn-group{
    margin-right: 10% !important;
}
.form-control-file{
width: auto !important;
}
/* Search bar */
#search{
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    justify-content: space-around;
}
.search-group{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.control-search{
    max-height: 35px;
    

}
.search-text{
    font-size: 1.2rem ;
}
#btn-search{
    font-size: 0.8rem ;
    
}
/* Cards */


.img-wrapper{
    height: 35vh;
    margin: 25% 25%;
    /* max-width: 80vw; */
    padding-bottom: 20px;
}
.btn{
    font-size: 10px;
}
.price{
    color:red;
    font-weight: bold;
}

